<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>
    <h1>ABOUT US</h1>



<div class="footer-wrapper">  
  <%- include('../layout/footer')%>
</div>


</body>
</html>