<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main class="about-container">
    <h1>About Us</h1>
    <ul class="about-list">
      <img src="" alt="">
      <h2>Raven Robertson</h2>
      <li><a href="https://github.com/ravewillow6383">https://github.com/ravewillow6383</a></li>
      <li>Things about Raven</li>
    </ul>
    <ul class="about-list">
      <img src="" alt="">
      <h2>Josh Nebe</h2>
      <li><a href="https://github.com/lilbonito">https://github.com/lilbonito</a></li>
      <li>Things about Josh</li>
    </ul>
    <ul class="about-list">
      <img src="" alt="">
      <h2>Joanna Arroyo</h2>
      <img class= "devPic" src="../../public/img/headshot-smaller.jpg">
      <li><a href="https://github.com/joannaarroyo">https://github.com/joannaarroyo</a></li>
      <li>Things about Jo</li>
    </ul>
  </main>
  <div class="footer-wrapper">  
    <%- include('../layout/footer')%>
  </div>
</body>
</html>