<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main class="about-container">
    <h1>About Us</h1>
    <ul class="about-list">

      <img id = "raven" src="../img/raven.jpeg">

      <h2>Raven Robertson</h2>
      <li class ="devDescription">Things about Raven</li>
      <li><a href="https://github.com/ravewillow6383">https://github.com/ravewillow6383</a></li>
    </ul>
    <ul class="about-list">
      <img id="yosh" src="../img/josh.jpg">
      <h2>Josh "Yoshi" Nebe</h2>
      <li class ="devDescription">Things about Yosh </li>
      <li><a href="https://github.com/lilbonito">https://github.com/lilbonito</a></li>
    </ul>
    <ul class="about-list">

        <img id="jo" src="../img/headshot-smaller.jpg">
        <h2>Joanna Arroyo</h2>
        <li class ="devDescription">Things about Jo</li>

      <li><a href="https://github.com/joannaarroyo">https://github.com/joannaarroyo</a></li>
    </ul>
  </main>
  <div class="footer-wrapper">  
    <%- include('../layout/footer')%>
  </div>
</body>
</html>