<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a plant name" required>
      <div id="search-button"><button type="submit">Search for Plants</button></div>
    </form>





    
  </main>
  <%- include('../layout/footer')%>
</body>
</html>