<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>

  
  

    

  <div class="logo-box">
      <img id="logo" src="/styles/baseLogo.png">
    </div>
    <button>CLicky</button>
  </main>



<div class="footer-wrapper">  
  <%- include('../layout/footer')%>
</div>


</body>
</html>