<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main>
    <div class="logo-box">
      <img src="/styles/baseLogo.png">
    </div>

    
  </main>
  <%- include('../layout/footer')%>
</body>
</html>