<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head')%>
<body>
  <%- include('../layout/header')%>
  <main class="links-container">
    <h1>Additional Resources</h1>
    <ul class="links-list">
      <li>Monterey Bay Aquarium Seafood Watch</li>
      <li><a href="https://www.seafoodwatch.org/">https://www.seafoodwatch.org/</a></li>
    </ul>
    <ul class="links-list">
      <li>Oceana</li>
      <li><a href="https://oceana.org/">https://oceana.org/</a></li>
    </ul>
    <ul class="links-list">
      <li>FishWatch</li>
      <li><a href="https://www.fishwatch.gov/">https://www.fishwatch.gov/</a></li>
    </ul>
    <ul class="links-list">
      <li>Marine Stewardship Council</li>
      <li><a href="https://www.msc.org/home">https://www.msc.org/home</a></li>
    </ul>
  </main>
  <div class="footer-wrapper">  
    <%- include('../layout/footer')%>
  </div>
</body>
</html>