html{
    height: 100%;
}
*{
border: solid 2px black;
}
/* body{
    background-image: url("/styles/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
} */

h1{

}
nav{
    line-height: 500%;
    border: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}




































/* ---------------------------------------------MEDIA QUERY-------------------------------------------------------------------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px){

        *{
            -webkit-box-sizing: border-box !important;
            -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
            text-align: center;
            border: none;
        }

        
        body{
            margin: 0;
            background-image: url("../img/background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
        }
           
        
        .search-box{
            display: none;
            margin: 0 auto;           
            width: 90%;
            background-color: rgba(60, 79, 120, 0.40);
            padding: 250px 0 250px 0;
            border: 3px solid #187795;
        }


        nav.top-bar{
            top:0;
            position: absolute;
            width: 90%;
            max-height: 20vh;
            background-color: #3C4F78;
            clip-path: polygon(0 0, 100% 0, 85% 20%, 15% 20%); 
        }


        div.logo-box{
            position: relative;
            margin: 20% auto;   
        }


        img#logo{
           
            width: 50%;
            z-index: -50;
            -webkit-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
            -moz-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
            box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
        }   
       
        
            header{
            display: flex;
            justify-content: center;
            align-items: center;  
        }

      
        .fish-container{
            display: flex;
            justify-content:space-evenly; 
            margin: 20% 5%;
            width: 50vh;
            height: 80vh;
            overflow: scroll;
            position: fixed;
            background-color: rgba(60, 79, 120, 0.40);
            padding: 2%;
            border: 3px solid #187795;
        }

      
        .fish-pic{
            margin: 2% 10% 2% 0;
            width: 50%;
            left: 0;
        }
    


        #name{
            padding: .5em;
            border: 1px solid white;
        }


        .footer-wrapper {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            position: fixed;
            text-align: center;
            width: 100%;
        }

        
        footer {
            background: none repeat scroll 0 0 rgba(60, 79, 120, 0.2);
            height: 5vh;
            margin: 0 auto 2vh 0 ;
            width: 100%;
            -webkit-box-shadow: 0px 10px 57px -6px rgb(216, 216, 216);
            -moz-box-shadow: 0px 10px 57px -6px rgb(216, 216, 216);
            box-shadow: 0px 10px 57px -6px rgb(216, 216, 216);
        }

        

    
    }