html{
    /* height: 100%; */
}
*{
border: solid 2px black;
}
/* body{
    background-image: url("/styles/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
} */

h1 {
    font-size: 1.5em;
}
nav{
    line-height: 500%;
    border: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}




































/* ---------------------------------------------MEDIA QUERY-------------------------------------------------------------------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px){

        *{
            -webkit-box-sizing: border-box !important;
            -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
            text-align: center;
            border: none;
        }

        
        body{
            margin: 0;
            background-image: url("../img/background.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;

        }
           
        .firstWord{
            font-weight: bolder;
        }
        
        .search-box{
            display: none;
            margin: 0 auto;           
            width: 90%;
            background-color: rgba(60, 79, 120, 0.40);
            padding: 266px 0 266px 0;
            border: 3px solid #187795;
        }

        #search-field{
            padding: 5px 10px 5px 10px;
            border-radius: 67px 67px 67px 67px;
            -moz-border-radius: 67px 67px 67px 67px;
            -webkit-border-radius: 67px 67px 67px 67px;
            border: 1px solid #f5f5f5;
            margin: 15px;
        }
        /* #search-button{

        } */


        nav.top-bar{
            top: 0;
            position: absolute;
            width: 30%;
            height: 100px;
            background-color: #3C4F78;
            clip-path: polygon(0 0, 100% 0, 85% 20%, 15% 20%); 

        }

        #arrow{
            width: 15px;
            margin-bottom: 26px;
            
            
        }


        div.logo-box{
            position: absolute;
            margin: 50% auto;  
            -webkit-box-shadow: 4px 6px 5px 0px rgba(56,63,81,0.47);
            -moz-box-shadow: 4px 6px 5px 0px rgb(56, 63, 81);
            box-shadow: 4px 6px 5px 0px rgba(56,63,81,0.47); 
        }


        img#logo{
            width: 75%;
            z-index: -50;
            -webkit-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
            -moz-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
            box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
        }   
       
        
            header{
            display: flex;
            justify-content: center;
            align-items: center;  
        }

      
        .fish-container, .fish-container-details {
            display: flex;
            justify-content:space-evenly; 
            margin: 20% 5%;
            width: 50vh;
            height: 80vh;
            overflow-y: auto;
            position: fixed;
            background-color: rgba(60, 79, 120, 0.70);
            padding: 2%;
            border: 3px solid #187795;

        }

        .links-container, .about-container {
            justify-content: space-evenly; 
            margin: 20% 5%;
            width: 50vh;
            height: 80vh;
            overflow-y: auto;
            position: fixed;
            background-color: rgba(60, 79, 120, 0.70);
            padding: 8% 2%;
            border: 3px solid #187795;
            font-family: 'Raleway', sans-serif; 
        }

      
        .fish-pic{
            margin: 5px 0 0 0;
            width: 90%;
        }

        p{
            border:none
        }
        #sci-name{
            text-align: center;
            font-style: italic;
            font-size: 1.6em;
        }


        #name, .name-details{
            margin: 0 auto;
            margin-bottom: 7%;
            width: 80%;
            text-transform: capitalize;
            font-size: 1.4em;
           
            padding: 3px 3px;
            background-color: rgba(218, 218, 217, 0.5);
            border-radius: 32px 32px 32px 32px;
            -moz-border-radius: 32px 32px 32px 32px;
            -webkit-border-radius: 32px 32px 32px 32px;
            border: 1px solid rgba(121, 183, 145, 0.9);
            font-family: 'Raleway', sans-serif;
        }


       
        #fish-pic-details{
            margin: 2vh;
            width: 90%;
        }
        
        .fish-div {
            line-height: .1.6em;
            width: 300px;
            margin: 4% auto;
            background-color: rgba(121, 183, 145, 0.424);
            border: 1px solid rgba(121, 183, 145, 0.9);
            -webkit-box-shadow: 3px 4px 5px 0px #383F51;
            -moz-box-shadow: 3px 4px 5px 0px #383F51;
            box-shadow: 3px 4px 5px 0px #383F51;
        }

        .links-list, .about-list {
            line-height: 1.6em;
            width: 300px;
            margin: 6% auto;
            padding: 2%;
            background-color: rgba(121, 183, 145, 0.424);
            border: 1px solid rgba(121, 183, 145, 0.9);
            border-radius: 5px;
            -webkit-box-shadow: 3px 4px 5px 0px #383F51;
            -moz-box-shadow: 3px 4px 5px 0px #383F51;
            box-shadow: 3px 4px 5px 0px #383F51;
        }

        .accordion{
            position: relative;
            max-width: 400px;
            height: auto;
            margin: 10px auto
        }
        .set{
            position: relative;
            width: 100%;
            height: auto;
            background-color: #DADAD9;
            
        }
        
        .set > a{
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            border-bottom: 1px solid black;
            -webkit-transition:all 0.2s linear;
            -moz-transition:all 0.2s linear;
            transition:all 0.2s linear;
        }
        .set > a.active{
            background-color: rgba(234, 237, 234, 0.5);
            color: black;
            -webkit-box-shadow: 4px 6px 5px 0px rgba(56,63,81,0.47);
            -moz-box-shadow: 4px 6px 5px 0px rgb(56, 63, 81);
            box-shadow: 4px 6px 5px 0px rgba(56,63,81,0.47);
        }
        .content{
            border-bottom: 1px solid black;
            display: none;
            /* background-color: rgba(60, 79, 120, 0.70); */
        }
        .content p{
            padding: 10px 15px;
            margin: 0;
            color: black;
            font-family: 'Hind Madurai', sans-serif;
            text-align: left;
            background-color:  #85AFBB;
        }
        .stretch-container{
            background-color:  #85AFBB;

        }

        .alt-fish-name {

            text-transform: capitalize;
        }
        #sustain-border{
            border-bottom: none;

        }
        a{
            color: black;
            text-decoration: none;
        }

        button {
            border: none;
            cursor: pointer;
            color: white;
            padding: 10px 30px;
            border-radius: 8px;
            font-size: 15px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
            background: #1F4055;
            font-family: 'Raleway', sans-serif;
            position: relative;
            overflow: hidden;
    
          }
    
          button:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 4px;
            height: 2px;
            background: rgba(255, 255, 255, .5);
            opacity: 0;
            border-radius: 100%;
            transform: scale(1, 1) translate(-50%);
            transform-origin: 50% 50%;
          }
          
          @keyframes ripple {
            0% {
              transform: scale(0, 0);
              opacity: 1;
            }
            20% {
              transform: scale(25, 25);
              opacity: 1;
            }
            100% {
              opacity: 0;
              transform: scale(40, 40);
            }
          }
          
          button:focus:not(:active)::after {
            animation: ripple 1s ease-out;
          }
          .tabs__item {
            width: 100%;
            float: left;
        }
    
        .tabs__link {
            display: block; 
        }
    
    
        .tabs {
            margin:  0;
            padding: 0;
            list-style: none;
            display: table; 
            table-layout: fixed; 
            width: 100%; 
        }
    
        .primary-nav {
        text-align: center;
        border-radius: 0;
        overflow: hidden; 
        }
    
        .primary-nav a {
        padding: .75em 1em;
         color: white;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        text-decoration: none;
        border-right: 1px solid #000;
        font-family: Share, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 15px;
        }
    
        .primary-nav a:hover {
        color: black;
        background: rgba(102,51,255,0.2);
        }
        .about-list img{
            /* border: 1px solid blueviolet; */
            line-height: 100%;
            }
            .about-container h1{
                display: block;
                width: 100%;
            }

              .devDescription{
                padding: 8px;
              }
              #jo{
                  width: 65%;
                  margin-top:25px;
              }
        
              #yosh{
                  width:60%;
                  margin-top:15px;
              }
              #raven{
                  width:50%;
              }
              
    }
          
    







/* -------------------------- DESKTOP VIEW ----------------------------- */

@media only screen and (min-device-width: 668px){

    * {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        text-align: center;
        border: none;
    }

    body{
        /* margin: 0 auto; */
        background-image: url("../img/background-desktop.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 960px;
        font-family: 'Raleway', sans-serif;

        /* border: 5px solid black; */
        overflow: hidden;
        margin: 0 auto;
    }
    
    .firstWord{
        font-weight: bolder;
    }

    .search-box{
        display: none;
        margin: 0 auto;         
        width: 90%;
        background-color: rgba(60, 79, 120, 0.40);
        padding: 26px 0 26px 0;
        border: 3px solid #187795;
    }

    #search-field{
        padding: 5px 10px 5px 10px;
        border-radius: 67px 67px 67px 67px;
        -moz-border-radius: 67px 67px 67px 67px;
        -webkit-border-radius: 67px 67px 67px 67px;
        border: 1px solid #f5f5f5;
        margin: 15px;
    }

    nav.top-bar{
        top: 0;
        position: absolute;
        width: 40%;
        max-height: 30vh;
        background-color: #3C4F78;
        clip-path: polygon(0 0, 100% 0, 85% 20%, 15% 20%); 
    }

    div.logo-box{
        height: 50vh;
        margin: 25% auto;   
    }

    img#logo{
        width: 33%;
        z-index: -50;
        -webkit-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
        -moz-box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
        box-shadow: 0px 10px 57px -6px rgba(61,68,102,1);
    }   

    header{
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .fish-container, .fish-container-details, .about-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly; 
        margin: 7% auto;
        width: 90%;
        height: 85vh;
        overflow-y: auto;
        /* position: fixed; */
        background-color: rgba(60, 79, 120, 0.70);
        padding-top: 3%;
        border: 3px solid #187795;
    }

    .links-container {
        justify-content: space-evenly; 
        margin: 7% auto;
        width: 90%;
        height: 85vh;
        overflow-y: auto;
        background-color: rgba(60, 79, 120, 0.70);
        padding-top: 3%;
        border: 3px solid #187795;
    }

    .fish-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .fish-pic{
        margin: 5px 0 0 0;
        width: 90%;
    }

    a {
        text-decoration: none;
    }

    .fish-details, p{
        padding: 10px;
        width: 300px;
        margin: 4% auto;
        word-wrap: normal;
        text-align: left;  
        line-height: 1.2em;
        background-color: rgba(121, 183, 145, 0.424);
        border: 1px solid rgba(121, 183, 145, 0.9);
    }

    #name{
      
        text-transform: capitalize;
        font-size: 1.6em;
        margin-bottom: 3px;
    }


    .name-details{
        margin: 10px;
        font-size: 1.8em;
        font-weight: bolder;
    }

    #fish-pic-details{
        margin: 2vh;
        width: 90%;
    }

    .fish-div, .about-list {
        line-height: 1.6em;
        width: 340px;
        height: 220px;
        margin: 4% auto;
        padding: 2%;
        background-color: rgba(121, 183, 145, 0.424);
        border: 1px solid rgba(121, 183, 145, 0.9);
        border-radius: 5px;
        align-content: center;
    }

    .links-list {
        line-height: 1.6em;
        width: 340px;
        height: 100px;
        margin: 4% auto;
        padding: 2%;
        padding-top: 3%;
        background-color: rgba(121, 183, 145, 0.424);
        border: 1px solid rgba(121, 183, 145, 0.9);
        border-radius: 5px;
        align-content: center;
    }

    .accordion{
        position: relative;
        max-width: 400px;
        height: auto;
        margin: 10px auto
    }
    .set{
        position: relative;
        width: 100%;
        height: auto;
        background-color: white;
    }
    .set > a{
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border-bottom: 1px solid black;
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        transition:all 0.2s linear;
    }
    .set > a.active{
        background-color: white;
        color: black;
    }

    .content{


        background-color: rgba(121, 183, 145, 0.424);
        border-bottom: 1px solid black;
        display: none;
    }
    .content p{
        padding: 10px 15px;
        margin: 0;
        color: blue;

        width: 100%;
    }
    .links-container h4{
        margin: 10px;
        font-size: 25px;
    }
    button {
        border: none;
        cursor: pointer;
        color: white;
        padding: 10px 30px;
        border-radius: 8px;
        font-size: 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
        background: #1F4055;
        font-family: 'Raleway', sans-serif;
        position: relative;
        overflow: hidden;

      }

      button:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 2px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
      }
      
      @keyframes ripple {
        0% {
          transform: scale(0, 0);
          opacity: 1;
        }
        20% {
          transform: scale(25, 25);
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: scale(40, 40);
        }
      }
      
      button:focus:not(:active)::after {
        animation: ripple 1s ease-out;
      }


    .tabs__item {
        width: 100%;
        float: left;
    }

    .tabs__link {
        display: block; 
    }


    .tabs {
        margin:  0;
        padding: 0;
        list-style: none;
        display: table; 
        table-layout: fixed; 
        width: 100%; 
    }

    .tabs__item {
    display: table-cell;
    float: none;
    width: auto;
    }

    .primary-nav {
    text-align: center;
    border-radius: 0;
    overflow: hidden; 
    }

    .primary-nav a {
    padding: .75em 1em;
     color: white;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #000;
    font-family: Share, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    }

    .primary-nav a:hover {
    color: black;
    background: rgba(102,51,255,0.2);
    }
    .about-list img{
        float: right;
        border: 1px solid blueviolet;
        line-height: 100%;
        }
        .about-container h1{
            display: block;
            width: 100%;
        }
          .about-list:hover{
          transform: scale(1.1); 
          }
          .about-list{
            text-align: right;
            font-size: 14px;
            transition: transform .2s;
            margin: 5px;
            width:45%;
          }
          .devDescription{
            padding: 8px;
          }
          #jo{
              width: 65%;
              margin-top:25px;
          }
    
          #yosh{
              width:60%;
              margin-top:15px;
          }
          #raven{
              width:50%;
          }
          .about-container h1 {
              font-family: 'Gothic A1', sans-serif;
              font-size: 50px;

          }
}