<header>
 
  <nav class="top-bar"> <h1>FISH FACE</h1></nav>
  <div class="search-box">
    <form action="/searches" method="post">
      <input id="search-field" type="text" name="search" placeholder="Enter a fish name" required>
      <div id="search-button"><button type="submit">Search for Fish</button></div>
      <div>
        <a class="add-button" href="/">Home</a>
        <a class="add-button" href="/about">About Us</a>
        <a class="add-button" href="/links">Additional Resources</a>
      </div>
    </form>


  </div>
  
</header>